allow hal_gnss_default system_data_file:dir { add_name write };
allow hal_gnss_default system_data_file:fifo_file { create open read setattr write };
