allow hal_sensors_default app_efs_file:dir search;
allow hal_sensors_default batch_io_device:chr_file { ioctl open read };
allow hal_sensors_default iio_device:chr_file { open read write };
allow hal_sensors_default sysfs:dir { open read };
allow hal_sensors_default sysfs:file { getattr open read write };
allow hal_sensors_default input_device:dir { open read };
