allow toolbox apk_data_file:dir { add_name create getattr setattr write };
allow toolbox apk_data_file:file { create getattr open read write };
allow toolbox block_device:dir { open read };
allow toolbox cache_file:dir getattr;
allow toolbox cgroup:file read;
allow toolbox device:dir { open read };
allow toolbox efs_file:dir getattr;
allow toolbox init:fifo_file { getattr ioctl write };
allow toolbox media_rw_data_file:file append;
allow toolbox mnt_user_file:dir search;
allow toolbox proc:file { open read };
allow toolbox proc_net:file { open read };
allow toolbox rootfs:dir { add_name open read setattr write };
allow toolbox self:capability { dac_override net_admin };
allow toolbox selinuxfs:file { open read };
allow toolbox storage_file:dir { getattr search };
allow toolbox storage_file:lnk_file read;
allow toolbox sysfs:dir { open read };
allow toolbox sysfs:file { getattr open read };
allow toolbox system_data_file:file { open read };
allow toolbox unlabeled:dir getattr;
